section.canhcam-tagline-7
	.container
		.title
			h1 CHOOS YOUR PRICE
			p Lorem ipsum dolor sit amet consectetur adipisicing elit.
		.card-deck.mb-3.text-center
			.card.mb-4.shadow-sm
				.card-header
					h2.my-0.font-weight-normal Free
				.card-body
					h1.card-title.pricing-card-title
						| $22
					p PER MONTH
					hr
					ul.list-unstyled.mt-3.mb-4
						p 1 ACCOUNT
						hr
						p 2 HOUR SUPPORT
						hr
						p CUSTOM CLOUD SERVICES 
					button.btn.btn-lg.btn-block.btn-outline-primary(type='button') Get started
			.card.mb-4.shadow-sm
				.card-header
					h2.my-0.font-weight-normal Pro
				.card-body
					h1.card-title.pricing-card-title
						| $42
					p PER MONTH
					hr
					ul.list-unstyled.mt-3.mb-4
						p 2 ACCOUNT
						hr
						p 100 MB STORAGE
						hr
						p CUSTOM CLOUD SERVICES
					button.btn.btn-lg.btn-block.btn-primary(type='button') Get started
			.card.mb-4.shadow-sm
				.card-header
					h2.my-0.font-weight-normal Enterprise
				.card-body
					h1.card-title.pricing-card-title
						| $62 
					p PER MONTH
					hr
					ul.list-unstyled.mt-3.mb-4
						p 8 ACCOUNT
						hr
						p 24 HOUR SUPPORT
						hr
						p CUSTOM CLOUD SERVICES
					button.btn.btn-lg.btn-block.btn-primary(type='button') Get started
