section.canhcam-tagline-7
	.container.py-4
		.row
			.col-md-10.my-4.mx-auto
				h2.text-center.display-4 Table price
				.row.no-gutters.my-3
					.col-md-4.pr-2.no-gutters
						.list-group.text-center.my-3
							.list-group-item.text-white
								h4.text-center.my-1 Basic
							.price.list-group-item.text-uppercase.font-weight-bold $99/mo.
							a.list-group-item(href='#').str 100 GB HDD Storage
							a.list-group-item(href='#').str Web Server
							a.list-group-item(href='#').str DNS Hosting
							.list-group-item
								button.btn.btn-secondary.btn-lg.btn-block.text-truncate Sign-up
					.col-md-4.no-gutters.box-center
						.list-group.text-center.bg-alt
							.list-group-item.text-white(href='#')
								h4.text-center.my-1 Standard
							.price.list-group-item.text-uppercase.font-weight-bold $99/mo.
							a.list-group-item(href='#').str 1 TB HDD Storage
							a.list-group-item(href='#').str Web Server
							a.list-group-item(href='#').str DNS Hosting
							.list-group-item.bg-inverse
								button.btn.btn-secondary.btn-lg.btn-block.text-truncate Buy Now
					.col-md-4.pl-2.no-gutters
						.list-group.text-center.my-3
							.list-group-item.text-white(href='#')
								h4.text-center.my-1 Managed
							.price.list-group-item.text-uppercase.font-weight-bold $99/mo.
							a.list-group-item(href='#').str Upto 10 TB HDD Storage
							a.list-group-item(href='#').str Consultation
							a.list-group-item(href='#').str  Custom Servers
							.list-group-item
								button.btn.btn-secondary.btn-lg.btn-block.text-truncate Contact Us