section.canhcam-tagline-7
	.container.py-4
	.row
		.col-md-10.my-4.mx-auto
			h2.text-center.display-4 Bootstrap 4 Pricing Tables
			.row.no-gutters.my-3
				.col-md-4.pr-2.no-gutters
					.list-group.text-center.my-3
						.list-group-item.text-white.bg-dark
							h4.text-center.my-1 Basic
						.list-group-item.text-uppercase.font-weight-boldFree
						a.list-group-item(href='#') 100 GB HDD Storage
						a.list-group-item(href='#') Web Server
						a.list-group-item(href='#') DNS Hosting
						a.list-group-item(href='#') Mail Server
						.list-group-item
							button.btn.btn-secondary.btn-lg.btn-block.text-truncate Sign-up
				.col-md-4.no-gutters
					.list-group.text-center.bg-alt
						.list-group-item.text-white.bg-dark(href='#')
							h4.text-center.my-1 Standard
						.list-group-item.text-uppercase.font-weight-bold $99/mo.
						a.list-group-item(href='#') 1 TB HDD Storage
						a.list-group-item(href='#')
						span.float-right
							i.ion-ios-star-outline.fa.fa-star-o Database Option
						a.list-group-item(href='#') Web Server
						a.list-group-item(href='#') DNS Hosting
						a.list-group-item(href='#') Mail Server
						a.list-group-item(href='#') 24/7 Monitoring
						.list-group-item.bg-inverse
							button.btn.btn-secondary.btn-lg.btn-block.text-truncate Buy Now
				.col-md-4.pl-2.no-gutters
					.list-group.text-center.my-3
						.list-group-item.text-white.bg-dark(href='#')
							h4.text-center.my-1 Managed
						.list-group-item.text-uppercase.font-weight-bold Contact Us
						a.list-group-item(href='#') Upto 10 TB HDD Storage
						a.list-group-item(href='#') Consultation
						a.list-group-item(href='#')  Custom Servers
						a.list-group-item(href='#') 24/7 Support
						.list-group-item
							button.btn.btn-secondary.btn-lg.btn-block.text-truncate Contact Us