section.canhcam-n-1
	.container
		.title
			h1 HOW IT WORKS
			p Lorem ipsum dolor sit amet consectetur adipisicing
			.row
				.col-md-3
					p kdaskldjklsjdklsa
				.col-md-3
					p kdaskldjklsjdklsa
				.col-md-3
					p kdaskldjklsjdklsa
				.col-md-3
					p kdaskldjklsjdklsa
				.col-md-3
					h2 STEP 1
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus veniam ea eligendi expedita, reprehenderit dicta eaque dignissimos rem repellendus
				.col-md-3
					h2 STEP 2
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus veniam ea eligendi expedita, reprehenderit dicta eaque dignissimos rem repellendus
				.col-md-3
					h2 STEP 3
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus veniam ea eligendi expedita, reprehenderit dicta eaque dignissimos rem repellendus
				.col-md-3
					h2 STEP 4
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus veniam ea eligendi expedita, reprehenderit dicta eaque dignissimos rem repellendus
			a.btn.btn-primary.btn-lg(href='#') Read more
