section.canhcam-f-1
	article.container
		.row
			.col.col-lg-10.offset-lg-1.col-xl-8.offset-xl-2
				h2 BOOST UP YOUR LOCAL BUSINESS
				p Lorem ipsum dolor sit amet consectetur adipisicing elit
				//- 
				.form-group.mx-sm-3.mb-2
					.row
						.col-md-3
							label.sr-only(for='inputPassword2') Password
							input#inputPassword2.form-control(type='password', placeholder='Password')
						.col-md-3
							label.sr-only(for='inputPassword2') Password
							input#inputPassword2.form-control(type='password', placeholder='Password')
						.col-md-3
							label.sr-only(for='inputPassword2') Password
							input#inputPassword2.form-control(type='password', placeholder='Password')
						.col-md-3
							button.btn.btn-primary.mb-2(type='submit') Confirm identity
		.owl-carousel.owl-theme
			.item
				.box(bg-img="../img/clients/laptop.png")
			.item
				.box(bg-img="../img/clients/laptop.png")
			.item
				.box(bg-img="../img/clients/laptop.png")
