header.canhcam-header-1
	nav.navbar.navbar-expand-lg.container
		a.navbar-brand(href='#')
			img(src="./img/logo.png", alt="Logo")
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#CCMenuHeader', aria-controls='CCMenuHeader', aria-expanded='false', aria-label='Toggle navigation')
			span.fa.fa-bars
		#CCMenuHeader.collapse.navbar-collapse
			ul.navbar-nav.ml-auto.mt-2.mt-lg-0
				li.nav-item.active
					a.nav-link(href='#')
						| HOME
						span.sr-only (current)
				li.nav-item
					a.nav-link(href='#') SERVICE
				li.nav-item
					a.nav-link(href='#')
						| ABOUTUS
				li.nav-item
					a.nav-link(href='#') PRICINGTABLE
				li.nav-item
					a.nav-link(href='#') HOWITWWORK
				li.nav-item
					a.nav-link(href='#') HAPPYCLIENTS
				li.nav-item
					a.nav-link(href='#') CONTACTUS
