extends _layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../lib/header/h-1/index.pug
block body
	include ../lib/boxes/b-2/index.pug
	include ../lib/boxes/b-1/index.pug
	include ../lib/boxes/b-12/index.pug
	include ../lib/tagline/t-7/index.pug
	include ../lib/tagline/n-1/index.pug
	include ../lib/boxes/b-7/index.pug
block footer
	include ../lib/footer/f-1/index.pug
