section.canhcam-boxes-1
	.container
		.box-group
			.title-buss
				h1 OUR SERVICES
				p Lorem ipsum dolor sit amet consectetur adipisicing elit
			.row
				.col-md-6.box
					i.fal.fa-clock
					.title
						h3 FONT-AWESOME ICONS
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio natus consectetur, totam fugiat non at assumenda tenetur? Quibusdam sunt adipisci eum optio dolores ipsum fugiat, quisquam obcaecati sed autem cumque!
				.col-md-6.box
					i.fal.fa-clock
					.title
						h3 FONT-AWESOME ICONS
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio natus consectetur, totam fugiat non at assumenda tenetur? Quibusdam sunt adipisci eum optio dolores ipsum fugiat, quisquam obcaecati sed autem cumque!
				.col-md-6.box
					i.fal.fa-clock
					.title
						h3 FONT-AWESOME ICONS
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio natus consectetur, totam fugiat non at assumenda tenetur? Quibusdam sunt adipisci eum optio dolores ipsum fugiat, quisquam obcaecati sed autem cumque!
				.col-md-6.box
					i.fal.fa-clock
					.title
						h3 FONT-AWESOME ICONS
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio natus consectetur, totam fugiat non at assumenda tenetur? Quibusdam sunt adipisci eum optio dolores ipsum fugiat, quisquam obcaecati sed autem cumque!
				.col-md-6.box
					i.fal.fa-clock
					.title
						h3 FONT-AWESOME ICONS
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio natus consectetur, totam fugiat non at assumenda tenetur? Quibusdam sunt adipisci eum optio dolores ipsum fugiat, quisquam obcaecati sed autem cumque!
				.col-md-6.box
					i.fal.fa-clock
					.title
						h3 FONT-AWESOME ICONS
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio natus consectetur, totam fugiat non at assumenda tenetur? Quibusdam sunt adipisci eum optio dolores ipsum fugiat, quisquam obcaecati sed autem cumque!