section.canhcam-boxes-2
	article.container
		.row
			.col.col-lg-12
				h2 BOOST UP YOUR LOCAL BUSINESS
				p Lorem ipsum dolor sit amet consectetur adipisicing elit
				//- 
				.form-group.mx-sm-3.mb-2
					.row
						.col-md-3.form
							input#inputPassword2.form-control(type='password', placeholder='Password')
							.input-group
								span.input-group-text
									i.fas.fa-user
						.col-md-3.form
							input#inputPassword2.form-control(type='password', placeholder='Password')
							.input-group
								span.input-group-text
									i.fas.fa-envelope
						.col-md-3.form
							input#inputPassword2.form-control(type='password', placeholder='Password')
							.input-group
								span.input-group-text
									i.fas.fa-phone
						.col-md-3.form
							button.btn.btn-primary.mb-2(type='submit') Confirm identity
		.owl-carousel.owl-theme
			.item
				.box(bg-img="../img/clients/laptop.png")
			.item
				.box(bg-img="../img/clients/laptop.png")
			.item
				.box(bg-img="../img/clients/laptop.png")
