section.canhcam-boxes-7
	.container
		h2 HAPPY CLIENTS
		span Lorem ipsum dolor sit amet consectetur adipisicin.
		.row
			.col-md-6
				.item
					.row
						.col-md-4
							img(src="../img/news/layer1.png", alt="")
						.col-md-8
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ex magni alias temporibus delectus ut sunt cum consequuntur corrupti placeat quisquam quibusdam debitis! Doloribus
							h3.cc ANNE HATHAWAY
			.col-md-6
				.item
					.row
						.col-md-4
							img(src="../img/news/layer2.png", alt="")
						.col-md-8
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ex magni alias temporibus delectus ut sunt cum consequuntur corrupti placeat quisquam quibusdam debitis! Doloribus
							h3.cc KATE UPTON

			.col-md-6
				.item
					.row
						.col-md-4
							img(src="../img/news/layer3.png", alt="")
						.col-md-8
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ex magni alias temporibus delectus ut sunt cum consequuntur corrupti placeat quisquam quibusdam debitis! Doloribus
							h3.cc OLIVIA WILDE
			.col-md-6
				.item
					.row
						.col-md-4
							img(src="../img/news/layer4.png", alt="")
						.col-md-8
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ex magni alias temporibus delectus ut sunt cum consequuntur corrupti placeat quisquam quibusdam debitis! Doloribus
							h3.cc SEO / Developer
